th
{
    column-count: 2;
    padding-top: 15px;
}
.button3
{
    margin-left: 10px;
}
th,td{
    border-bottom: 1px solid lightgray;
}
.input1
{
    height: 35px;
    width: 100%;
}
.input2
{
    height: 35px;
    width: 100%;
}
.input3
{
    height: 35px;
    width: 100%;
}
.input4{
    height: 35px;
    width: 100%;
}
.button1
{
    margin-top: 10px;
    background-color: blue;
    color: white;
    height: 36px;
    width: 143px;
}
.button4
{
    margin-top: 10px;
    background-color: blue;
    color: white;
}
.button5
{
    margin-top: 10px;
    background-color: blue;
    color: white;
    margin-left: 10px;
}
h1
{
    margin-top: 40px;

}
.row
{
    margin-top: 30px;
}